body, h1, h2, h3, p, ul, li, a, table, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

nav {
    list-style: none;
    text-align: center;
    background-color: #6e965e;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0056b3;
}

table {
    width: 100%;
    border: none;
}

table td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    width: 100px;
}

table td img {
    width: 80px;
    border: none;
    margin: auto;
}

/* will need changed - specific to error message
 */
h3 {
    color: #d9534f
}

#footer {
    background-color: #f0f0f0;
    color: #555;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-top: 2px solid #ccc;
}

#searchbar {
    margin: 20px auto;
    text-align: center;
}

#searchtextbox {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 5px
}

#searchtextbox:focus {
    outline: none;
    border-color: #007bff;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0056b3;
}

#suggestionDiv {
    background-color: white;
    border: 1px solid #ccc;
    width: 50%;
    padding: 10px;
    text-align: left;
}